<a href="https://colab.research.google.com/github/pqiu/BMED3201/blob/main/python_basics/topic_05_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

dictionary is used to define key-value mapping, so that the values are indexed by keys

In [1]:
# use two list to represent mapping between two things, which can be inconvenient and slow
names = ['Alice', 'Bob', 'Cathy', 'Denny', 'Elle']
values = [10, 20, 30, 40, 50]

# assume we want to obtain the value associated to one name
name='Bob'
value=values[names.index(name)]
print(f'The value associated to {name} is {value}')

The value associated to Bob is 20

In [2]:
# define a dictionary to represent mapping between two things
d = {'Alice':10, 'Bob':20, 'Cathy':30, 'Denny':40, 'Elle':50}
print(d)

name='Bob'
value=d[name]

print(f'The value associated to {name} is {value}')

{'Alice': 10, 'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}
The value associated to Bob is 20

In [3]:
# keys in a dictionary must be unique
# the following shows what happens if there exist duplicated keys when defining a dict

d = {'Alice':10, 'Bob':20, 'Cathy':30, 'Denny':40, 'Elle':50, 'Alice':'a'}
print(d)

{'Alice': 'a', 'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}

# after a dict is defined, how to update/add/remove items

In [4]:
# change or add one item at a time
d = {'Alice':10, 'Bob':20, 'Cathy':30, 'Denny':40, 'Elle':50}
print(d)

d['Bob']=200
print(d)

d['Fred']=60
print(d)

{'Alice': 10, 'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}
{'Alice': 10, 'Bob': 200, 'Cathy': 30, 'Denny': 40, 'Elle': 50}
{'Alice': 10, 'Bob': 200, 'Cathy': 30, 'Denny': 40, 'Elle': 50, 'Fred': 60}

In [5]:
# use "update" to change or add one or multiple items to a dictionary
d = {'Alice':10, 'Bob':20, 'Cathy':30, 'Denny':40, 'Elle':50}
print(d)

d.update({'Alice':100, 'Cathy':300})
print(d)

d.update({'Apple':'red', 'Banana':'yellow'})
print(d)

d.update({'Elle':'happy', 'Orange':'orange'})
print(d)

{'Alice': 10, 'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}
{'Alice': 100, 'Bob': 20, 'Cathy': 300, 'Denny': 40, 'Elle': 50}
{'Alice': 100, 'Bob': 20, 'Cathy': 300, 'Denny': 40, 'Elle': 50, 'Apple': 'red', 'Banana': 'yellow'}
{'Alice': 100, 'Bob': 20, 'Cathy': 300, 'Denny': 40, 'Elle': 'happy', 'Apple': 'red', 'Banana': 'yellow', 'Orange': 'orange'}

In [6]:
# remove an item using pop
d = {'Alice':10, 'Bob':20, 'Cathy':30, 'Denny':40, 'Elle':50}
print(d)

print( d.pop('Alice') )
print( d )

{'Alice': 10, 'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}
10
{'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}

# Error will occur if we try to access a key that does not exist

In [7]:
# accessing a key that does not exist --> error
d['Jack']

KeyError: 'Jack'

In [8]:
d.pop('Jack')

KeyError: 'Jack'

# in

to avoid the error above, we can use "in" to check whether an item is a key in a dict

"in" is also able to check whether an item is an element in a list

In [9]:
# check whether an item is a key in a dict
print( 'Jack' in d )
print( 'Bob' in d)

# check whether an item is an element in a list
print( 'Jack' in names )
print( 'Bob' in names )

False
True
False
True

# get

another approach to avoid error when querying a dict with a key that does not exist

In [10]:
print(d.get('Bob'))

print(d.get('jack'))        # "get" returns None if the key does not exist

print(d.get('jack', -1))    # or we can specify what we want the return to be when the key does not exist

20
None
-1

# dict comprehension

In [11]:
d = {'Alice':10, 'Bob':20, 'Cathy':30, 'Denny':40, 'Elle':50}
print(d)

# create a new list with a subset of the items, which is effectively removing one or mutliple items
d2 = {key:value for key, value in d.items() if key!='Alice'}
print(d2)

d2 = {key:value for key, value in d.items() if value>25}
print(d2)

d2 = {key:value for key, value in d.items() if key not in ['Alice','Cathy']}
print(d2)

d2 = {key:value for key, value in d.items() if key in ['Alice','Cathy']}
print(d2)

d2 = {key:d[key] for key in d.keys() if key in ['Alice','Cathy']}
print(d2)


# dict (or list) comprehension can be written as a for loop
d2={}
for key,value in d.items():
    if key in ['Alice','Cathy']:
        d2[key]=value
print(d2)

{'Alice': 10, 'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}
{'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}
{'Cathy': 30, 'Denny': 40, 'Elle': 50}
{'Bob': 20, 'Denny': 40, 'Elle': 50}
{'Alice': 10, 'Cathy': 30}
{'Alice': 10, 'Cathy': 30}
{'Alice': 10, 'Cathy': 30}

In [12]:
d = {'Alice':10, 'Bob':20, 'Cathy':30, 'Denny':40, 'Elle':50}
print(d)

# create a new list with updated values for all items, when the update is a valid operation for all values
d2 = {key.upper():value+3 for key, value in d.items()}
print(d2)

# create a new list with updates to a subset of the values and keys
d2 = { (key.upper() if value>35 else key):(value+3 if value>25 else value) for key, value in d.items()}
print(d2)

# create a new list with different updates to different subsets of the keys and the values
d2 = { (key.upper() if value>35 else key.lower()):(value+3 if value>25 else value-3) for key, value in d.items()}
print(d2)

{'Alice': 10, 'Bob': 20, 'Cathy': 30, 'Denny': 40, 'Elle': 50}
{'ALICE': 13, 'BOB': 23, 'CATHY': 33, 'DENNY': 43, 'ELLE': 53}
{'Alice': 10, 'Bob': 20, 'Cathy': 33, 'DENNY': 43, 'ELLE': 53}
{'alice': 7, 'bob': 17, 'cathy': 33, 'DENNY': 43, 'ELLE': 53}